body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background: lightgray;
}
* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    padding: 20px;
    color: black;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.product-card {
    background: #fff;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.product-card:hover{ 
    transform: scale(1.5);
    box-shadow: 0.5 4px 12px rgb(243, 240, 240);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: inline-block;
}
.product-card p {
    font-size: 14px;
    color: #666;
}
.product-card h3{
    margin: 15px 0 10px;
    font-size: 20px;
    color: #333;
}
.price {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 10px 0;

}
.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn :hover{
    background-color: #0056b3;
}
@media (max-width: 600px) {
    .product-card img {
        height: 150px;
    }
    .product-card h3 {
        font-size: 18px;
    }
    .product-card p{
        font-size: 12px;
    }
}
@media (min-width: 610px) and (max-width: 1024px) {
    .product-card img {
        height: 180px;;
    }
    .product-card h3 {
        font-size: 18px;
    }

}